# noinspection EditorConfigKeyCorrectness
[*.kt]
ktlint_standard_filename = disabled

# noinspection EditorConfigKeyCorrectness
[**/generated/**]
ktlint = disabled
generated_code = true
ij_formatter_enabled = false
